<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.parenthoodandroidapp">

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CYSAndroidApp">

        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.SignupActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.HomePageActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.AboutActivity2"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.RateUsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.UpdateTimeTableActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.ShareAppActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.ContactUsActivity"
            android:exported="true" />
        <activity
            android:name="com.example.parenthoodandroidapp.ChatsActivities.AllChatsActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.parenthoodandroidapp.ChatsActivities.chat.Chat"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.parenthoodandroidapp.AppHelperActivities.SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.CYSAndroidApp.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.example.parenthoodandroidapp.DevAdmRec"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.parenthoodandroidapp.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.parenthoodandroidapp.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.parenthoodandroidapp.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.parenthoodandroidapp.AppHistoryActivity" />

        <receiver
            android:name="com.example.parenthoodandroidapp.WifiReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.parenthoodandroidapp.DeviceControlActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.parenthoodandroidapp.TaskList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.parenthoodandroidapp.AppSettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.parenthoodandroidapp.BlockActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTop"
            android:taskAffinity="com.sonyericsson.home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.example.parenthoodandroidapp.AppList"
            android:label="Tasks"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.parenthoodandroidapp.AdsBlock.BlockAdsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.parenthoodandroidapp.AdsBlock.vpn.AutoLaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity> <!-- Services -->
        <service
            android:name="com.example.parenthoodandroidapp.AdsBlock.vpn.MainVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service> <!-- Receivers -->
        <receiver
            android:name="com.example.parenthoodandroidapp.AdsBlock.receivers.BootUpReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="500">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.parenthoodandroidapp.SearchRunningApp2"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>
        <service
            android:name="com.example.parenthoodandroidapp.UrlInterceptor.UrlInterceptorService"
            android:label="@string/accessibility_service_name_website"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice_block_website" />
        </service>

        <service android:name="com.example.parenthoodandroidapp.HelperClasses.NotificationListener"
            android:label="CYS App - Notification Blocker"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>
</manifest>